<div id="section_<%= i %>" class="card <%= 'opacity5' unless first %>">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title"><%= video.title %></h3>
      <p class="margin-video"><%= video.statement %></p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src='https://www.youtube.com/embed/<%= video.url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      </div>

    </div>
  </div>
  <div class='content'>
    <% unless last %>
      <p class='text-center'><a href="#section_<%= i + 1 %>" class='btn btn-primary next-section'>Next section</a></p>
    <% end %>
  </div>
</div>
