
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to <%= @lesson.title %>!</h1>
      <% @lesson.sections.order(:order).each_with_index do |section, i| %>
        <% if section.contentable.is_a? Video %>
          <%= render 'video', video: section.contentable, i: i, first: i.zero?, last: i+1 == @lesson.sections.count %>
        <% elsif section.contentable.is_a? Quiz %>
          <%= render 'quiz', quiz: section.contentable, i: i, first: i.zero?, last: i+1 == @lesson.sections.count %>
        <% elsif section.contentable.is_a? Content %>
          <%= render 'content', content: section.contentable, i: i, first: i.zero?, last: i+1 == @lesson.sections.count %>
        <% end %>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-body text-center">
          <%= link_to "Go to exercises", lesson_exercises_path(@lesson), class:"btn btn-primary btn-lg" %>
        </div>
      </div>

    </div>
  </div>
</div>


