<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Complete these exercises to win chips</h1>
      <% @exercises.each do |exercise| %>
        <div class="card">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= exercise.name %></h3>
            </div>
            <div class="panel-body">
              <div class="panel panel-default">
                <div class="panel-body black-text">
                  <%= raw exercise.statement %>
                </div>
                <div class="panel-body text-center poker-table">
                  <% exercise.boards.each do |board| %>
                    <h4>Board</h4>
                    <%= raw board.card1 %>
                    <%= raw board.card2 %>
                    <%= raw board.card3 %>
                    <% if board.turn %>
                      <%= raw board.turn %>
                    <% end %>
                    <% if board.river %>
                      <%= raw board.river %>
                    <% end %>
                  <% end %>
                </div>
                <div class="panel-body">
                  <% exercise.questions.each do |question| %>
                    <div class="panel panel-default">
                      <div class="panel-body text-center">
                        <%= question.statement %>
                      </div>

                      <div class="panel-body" id="question-<%= question.id %>">
                        <div class="text-center">

                          <% question.answer_options.shuffle.each do |answer_option|  %>
                            <%= form_tag answer_path(answer_option), remote: true, class: 'form-question', id: "answer-#{answer_option.id}" do %>
                              <%= hidden_field_tag :question_id, question.id %>
                              <%= submit_tag answer_option.statement, class: "btn btn-primary" %>
                            <% end %>
                          <% end %>

                        </div>
                        <div class="text-center answer-option"></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @next_lesson %>
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <%= link_to "Next lesson", lesson_path(@next_lesson), class:"btn btn-primary btn-lg" %>
          </div>
        </div>
      <% else %>
        <h2>Congratulations! You've completed the course!</h2>
      <% end %>
    </div>
  </div>
</div>






